app:
    resource: '@AppBundle/Controller/'
    type: annotation

movies:
    type: rest
    resource: AppBundle\Controller\MovieController

movies_post:
    path: /movies
    methods: [POST]
    defaults:
        _controller: AppBundle\Controller\MovieController:postMoviesAction
        _format: json

movies_patch:
    path: /movies/{movie}
    methods: [PATCH]
    defaults:
        _controller: AppBundle\Controller\MovieController:patchMovieAction
        _format: json

humans:
    type: rest
    resource: AppBundle\Controller\HumanController

humans_post:
    path: /humans
    methods: [POST]
    defaults:
        _controller: AppBundle\Controller\HumanController:postHumansAction
        _format: json

movies_roles_post:
    path: /movies/{movie}/roles
    methods: [POST]
    defaults:
        _controller: AppBundle\Controller\MovieController:postMovieRolesAction
        _format: json

users:
    resource: AppBundle\Controller\UserController
    type: rest

users_post:
    path: /users
    methods: [POST]
    defaults:
        _controller: AppBundle\Controller\UserController:postUserAction
        _format: json

users_patch:
    path: /users/{theUser}
    methods: [PATCH]
    defaults:
        _controller: AppBundle\Controller\UserController:patchUserAction
        _format: json

tokens:
    type: rest
    resource: AppBundle\Controller\TokenController